@font-face {
  src: url(./Marvel-Regular.ttf);
  font-family: Marvel;
}

.container {
  font-family: Marvel;
  font-size: 30px;
  color: black;
  padding-top: 25px;
}

.container .title {
  color: white;
}

.button {
  align-items: center;
}

.heroesCards {
  text-transform: uppercase;
  width: 15rem;
  max-height: 20rem;
  min-height: 20rem;
  margin-bottom: 20px;
}

.heroesCards h2 {
  font-size: 20px;
}

.container .search-label {
  margin-top: 15px;
}

input {
  font-family: Marvel;
  font-size: 30px;
  text-transform: uppercase;
}
